<div class="container">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px;"
    />
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown #r="appDropdown">
        <button class="btn btn-primary dropdown-toggle mb-2">
          Manage Recipe
        </button>
        <ul class="dropdown-menu" [ngClass]="{ show: r.isOpen }">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ recipe.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">{{ recipe.ingredient }}</div>
  </div>
</div>
